* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif !important;
}
header {
  background-color: #ffffff;
}
body {
  background-color: #f5fafe;
}
div {
  border-radius: 6px;
}
button {
  background-color: #ec1f46;
  padding: 10px 25px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 6px;
}
.background--primary {
  background: #ec1f46;
}
.color--white {
  color: #ffffff;
}
button,
input {
  border: none;
  outline: none;
}
button:focus,
input:focus {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/*HEADER*/
.headerIntroduction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  &-brand {
    display: flex;
    align-items: center;
    &__image {
      margin-bottom: 200px;
    }
  }
  &-wrapper {
    max-width: 410px;
    width: 100%;
    .headerIntroduction-form {
      display: flex;
      &__input {
        width: 100%;
        padding: 12px 0 12px 25px;
        background-color: #f5fafe;
        border: none;
        border-radius: 6px 0 0 6px;
      }
      &__button {
        padding: 12px 25px;
        border: none;
        border-radius: 0 6px 6px 0;
      }
    }
  }
}
.headerNavigation {
  background: #0a223d;
  border-radius: 0px;
  @include tablet {
  }
  &-list {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    @include tablet {
      display: none;
      background-color: rgba($color: #000000, $alpha: 0.7);
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      z-index: 999;
      // display: none;
      flex-direction: column;
      justify-content: center;
    }
    li {
      @include tablet {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }
    a {
      color: #ffffff;
      text-transform: uppercase;
      @include tablet {
        width: 100%;
        font-size: 24px;
        padding: 15px 0;
      }
    }
  }
}
