.presentation {
  padding: 30px 0 105px 0;
  .presentation-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.875rem;
      text-transform: uppercase;
      color: #333333;
    }
    &__rating {
      padding: 7px;
      text-align: center;
      border-radius: 4px;
      p {
        font-size: 8px;
        font-weight: 600;
        line-height: 10px;
        margin-bottom: 2px;
      }
      h4::after {
        content: "5";
        font-size: 12px;
      }
    }
  }
  .presentation-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    @include tablet-big {
      column-gap: 30px;
    }
    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
    .presentation-content {
      display: grid;
      grid-template-rows: 1fr 1fr;
      row-gap: 26px;
      @include tablet {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
      }
      @include mobile {
        grid-template-columns: 1fr;
      }
      .presentation-info {
        padding: 25px 30px;
        background-color: #0a223d;
        color: #ffff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .presentation-wrapper {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .presentation-left {
            text-align: left;
            &__price {
              font-size: 24px;
              line-height: 2rem;
              font-weight: 800;
            }
            &__price::before,
            &__price::after {
              font-size: 10px;
              display: block;
              font-weight: 400;
              line-height: 0.85rem;
            }
            &__price::before {
              content: "price starts as";
            }
            &__price::after {
              content: "per room / night";
            }
          }
          .presentation-right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: left;
            p {
              font-size: 12px;
            }
            &__guests::before {
              content: url("../images/user-icon.svg");
              margin-right: 10px;
              margin-bottom: 8px;
            }
            &__room::before {
              content: url("../images/home-icon.svg");
              margin-right: 10px;
            }
          }
        }
        .presentation-bottom {
          display: flex;
          justify-content: space-between;
          h4 {
            font-size: 18px;
            line-height: 1.53rem;
            font-weight: 600;
          }
          &__phone {
            text-align: left;
          }
          &__phone::before {
            content: url("../images/phone-icon.svg");
            margin-right: 10px;
          }
        }
        &__button {
          margin-top: 17px;
          color: #ffff;
          border-radius: 6px;
          padding: 13px 0;
        }
      }
      .presentation-map {
        @include tablet {
          // display: inline-block;
          // height: 100%;
          // margin-top: 0px;
          // margin-left: 15px;
          // max-width: calc(50% - 15px);
        }
        iframe {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
      }
    }
  }
}

.offers {
  padding-bottom: 60px;
  .offers-listWrapper {
    @include mobile {
      overflow: scroll;
    }
    img {
      position: sticky;
      top: 35%;
      transform: translateY(-50%);
      left: 80%;
      width: 15px;
      height: auto;
      cursor: pointer;
      order: 2;
      display: none;
      @include mobile {
        display: inline-block;
      }
    }
  }
  .offers-Navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    @include mobile {
      display: block;
      width: calc(8 * (100vw - 10%));
    }
    li {
      @include mobile {
        display: inline-block;
        width: 100vw;
        text-align: center;
      }
    }
    a {
      font-weight: 700;
      font-size: 0.875rem;
      order: 1;
      @include mobile {
        font-size: 1.2rem;
      }
    }
    .active {
      color: #ec1f46;
      border-bottom: 4px solid #ec1f46;
      padding-bottom: 14px;
    }
  }
  .offers-content {
    &__title {
      color: #333333;
      font-size: 1.5rem;
      line-height: 1.875rem;
      margin-bottom: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .offers-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      @include tablet {
        grid-template-columns: 1fr;
        row-gap: 30px;
      }
      .offers-highlights {
        display: flex;
        flex-direction: column;
        &__title {
          padding: 16px 24px;
          background-color: #0a223d;
          color: #ffffff;
        }
        .offers-listwrapper {
          background-color: #ffffff;
          ul {
            padding: 26px 28px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3fr;
            column-gap: 20%;
            li {
              display: flex;
              align-items: center;
              margin-bottom: 22px;
              font-size: 12px;
              line-height: 0.9rem;
              align-items: center;
            }
            li::before {
              content: url("../images/check.svg");
              margin-right: 10px;
            }
          }
        }
      }
      .offers-details {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        &__title {
          padding: 16px 24px;
          background-color: #0a223d;
          color: #ffffff;
        }
        .offers-detailsContent {
          display: flex;
          flex-direction: row;
          height: 100%;
          padding: 26px 28px 18px 28px;
          &__description {
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
              display: flex;
              font-size: 12px;
              line-height: 15px;
            }
            p::before {
              display: inline-block;
              content: url("../images/check.svg");
              margin-right: 10px;
            }
            span {
              margin-left: 28px;
              font-size: 12px;
            }
          }
          &__date {
            width: 50%;
            p {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              font-size: 12px;
            }
            p::before {
              content: url("../images/calendar.svg");
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.packages {
  .packages-wrapper {
    display: grid;
    grid-template-columns: calc(33.33% - 15px) calc(33.33% - 15px) calc(
        33.33% - 15px
      );
    column-gap: 22.5px;
    row-gap: 30px;
    @include tablet {
      grid-template-columns: calc(50% - 15px) calc(50% - 15px);
      column-gap: 30px;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
    .package-card {
      display: grid;
      color: #ffffff;
      img {
        width: 100%;
        height: auto;
        @include mobile-s {
          max-height: 250px;
          object-fit: cover;
        }
      }
      .package-info {
        border-radius: 0 6px 6px 0;
        background-color: #0a223d;
        padding: 40px 25px 25px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__intro {
          h3 {
            font-size: 1.125rem;
            margin-bottom: 17px;
            font-weight: 700;
            line-height: 1.43rem;
          }
          p {
            font-size: 0.875rem;
            line-height: 1.43rem;
          }
        }
        .package-details {
          p {
            font-size: 0.75rem;
            line-height: 0.941rem;
          }
          p:not(:last-child) {
            margin-bottom: 11px;
          }
          p::before {
            margin-right: 14px;
          }
          &__location::before {
            content: url("../images/location.svg");
          }
          &__guests::before {
            content: url("../images/user-icon.svg");
          }
          &__room::before {
            content: url("../images/home-icon.svg");
          }
        }
        &__price {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            font-size: 1.5rem;
          }
        }
      }
      &--primary {
        grid-template-columns: 1fr 1fr;
        img {
          height: 100%;
        }
        @include mobile-s {
          grid-template-columns: 1fr;
        }
      }
      &--secondary {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .package-info {
          border-radius: 0 0 6px 6px;
        }
        @include mobile {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
        }
        @include mobile-s {
          grid-template-columns: 1fr;
        }
      }
      &--grid1 {
        grid-column-start: 1;
        grid-column-end: 3;
        @include tablet {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        @include mobile {
          grid-column-start: 1;
          grid-column-end: 1;
        }
      }
      &--grid2 {
        @include tablet {
          grid-column-start: 1;
          grid-column-end: 2;
          @include mobile {
          }
        }
      }
    }
  }
}

.subscribe {
  margin: 75px 0;
  position: relative;
  background-image: linear-gradient(
      rgba(10, 34, 61, 0.8),
      rgba(10, 34, 61, 0.8)
    ),
    url("../images/mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .subscribe-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 105px 0px;
    @include mobile-s {
      flex-direction: column;
    }
    &__text {
      color: #ffffff;
      h2 {
        text-transform: uppercase;
        font-size: 2.25rem;
        line-height: 2.8rem;
        font-weight: 600;
      }
      h2:before {
        content: "subscribe to our";
        display: block;
        font-size: 1.5rem;
        line-height: 1.875rem;
        font-weight: 300;
      }
    }
    .subscribe-search {
      width: 350px;
      @include tablet {
        width: auto;
        max-width: 350px;
      }
      @include mobile-s {
        margin-top: 30px;
      }
      .subscribe-form {
        display: flex;
        @include desktop {
          width: 100%;
        }
        &__input {
          padding: 1.25rem 1.875rem;
          background-color: #ffffff;
          color: #bdbdbd;
          width: 100%;
          border-radius: 6px 0 0 6px;
          font-size: 0.875rem;
        }
        &__input::placeholder {
          color: #bdbdbd;
        }
        &__button {
          padding: 1.25rem 1.125rem;
          font-size: 12px;
          font-weight: 700;
          border-radius: 0 6px 6px 0;
        }
      }
    }
  }
}

.activities {
  .container {
    padding: 60px 0 100px 0;
    @include tablet {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  .activities-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
    column-gap: 30px;
    .activities-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 143px 110px 25px 25px;
      // background: linear-gradient(rgba(196, 196, 196), rgb(10, 34, 61));
      background-repeat: no-repeat;
      background-size: cover;
      p {
        margin-bottom: 20px;
        color: #ffffff;
        font-weight: 700;
      }
      &--1 {
        background-image: linear-gradient(
            to bottom,
            rgba(196, 196, 196, 0),
            rgba(10, 34, 61, 1)
          ),
          url("../images/activities1.jpg");
      }
      &--2 {
        background-image: linear-gradient(
            to bottom,
            rgba(196, 196, 196, 0),
            rgba(10, 34, 61, 1)
          ),
          url("../images/activities2.jpg");
      }
      &--3 {
        background-image: linear-gradient(
            to bottom,
            rgba(196, 196, 196, 0),
            rgba(10, 34, 61, 1)
          ),
          url("../images/activities3.jpg");
      }
      &--4 {
        background-image: linear-gradient(
            to bottom,
            rgba(196, 196, 196, 0),
            rgba(10, 34, 61, 1)
          ),
          url("../images/activities4.jpg");
      }
    }
  }
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-weight: 700;
  }
}

.contact {
  background-color: #0a223d;
  .container {
    padding-top: 160px;
    .contact-wrapper {
      margin-bottom: 160px;
      .contact-form {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        h3 {
          color: #ffffff;
          margin-bottom: 35px;
          font-size: 1.25rem;
          line-height: 1.4rem;
          text-transform: uppercase;
          font-weight: 700;
        }
        .contact-inputs {
          .contact-inputText {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            input {
              width: 100%;
              padding: 15px 20px;
              font-size: 12px;
            }
            &__first {
              margin-right: 30px;
            }
          }
          textarea {
            width: 100%;
            padding: 15px 20px;
            margin-bottom: 25px;
            font-size: 12px;
          }
        }
        @include desktop {
          max-width: 540px;
        }
        &__bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            padding: 18px 66px;
          }
          p {
            color: #ffffff;
          }
        }
      }
    }
  }
}
