.burger {
  z-index: 9999;
  display: none;
  width: 30px;
  height: 21px;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 45px;
  right: 20px;
  cursor: pointer;
  @include tablet {
    display: flex;
  }
  span {
    height: 3px;
    width: 100%;
    background-color: #ec1f46;
  }
}
.active-list {
  display: flex;
}
